@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
  font-family: 'COCOGOOSE Regular';
  font-style: normal;
  font-weight: normal;
  src: local('COCOGOOSE Regular'), url('./fonts/cocogoose_trial.woff') format('woff');
}

/* Lato */
:root {
  --black: #272a31;
  --white: #d3d3d3;
  --red: #ec5242;

  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

nav#mobile-menu {
  width: 5vw;
  position: fixed;
  top: 2rem;
  left: 1rem;
}

img#close-btn {
  display: none;
}

img {
  max-width: 100%;
}

nav#social-media {
  display: none;
}

nav#nav-bar ul {
  flex-direction: column;
  list-style-type: none;
  gap: 1rem;
  padding-inline-start: 0;
  display: none;
  font-size: 1.5rem;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 5rem;
  left: 1rem;
}

a,
button {
  all: unset;
  cursor: pointer;
}

nav#nav-bar-div {
  width: fit-content;
  flex-direction: column;
  gap: 1rem;
  display: none;
}

div#nav-bar-logo {
  display: none;
}

nav#nav-bar {
  width: 100vw;
  height: auto;
}

header#header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: linear-gradient(0deg, rgba(235, 235, 235, 0.93), rgba(235, 235, 235, 0.93)), url("../images/others/background.jpg") no-repeat;
  background-size: cover;
}

div#logo {
  display: none;
}

article.center-text {
  text-align: center;
}

article#intro h1 {
  color: #ec5242;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

article#intro h2 {
  color: #ec5242;
  margin-top: 0;
  font-size: 2rem;
  font-weight: 900;
}

article#intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 4rem 1rem;
  height: auto;
}

.flex-speakers p {
  padding: 0.5rem 0 0;
}

.flex-speakers h3 {
  margin: 0;
}

.grid h3 {
  color: #ec5242;
}

.main-program-div h3 {
  color: var(--red);
}

.speaker-details h3 {
  margin-bottom: 0;
}

article#intro h3 {
  border: solid #fff;
  background-color: #d3d3d347;
  padding: 1rem;
  margin: -0.25rem auto;
  font-weight: 300;
}

.main-program-div p {
  padding: 0 1rem;
  align-self: start;
  text-align: center;
}

article#intro p {
  font-weight: 300;
  font-size: 1rem;
}

.flex-speakers h4 {
  margin: 0;
  color: #ec5242;
}

.speaker-details h4 {
  color: var(--red);
  margin-top: 0;
}

article#intro h4 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0;
  color: #272a31c9;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article#main-program {
  color: #d3d3d3;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-image: url("../images/others/pattern.jpg");
  background-repeat: repeat;
}

article#featured-speakers {
  color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer#footer {
  display: none;
}

div.red-line {
  width: 2.5vw;
  display: flex;
  align-items: center;
}

article#main-program h2 {
  margin-bottom: 0;
}

section.main-program-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem 0;
}

.grid {
  display: grid;
  grid-template-columns: 15% 29% auto;
  align-items: center;
  font-size: 0.65rem;
  background-color: rgba(255, 255, 255, 0.1);
  overflow-wrap: break-word;
}

section#main-program-section {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin: 2rem 0;
}

.main-program-img {
  width: 5vw;
  justify-self: center;
}

p.grid-par {
  padding: 0 0.5rem;
}

a#see-more-program {
  display: none;
}

#main-program-btn {
  background-color: #ec5242;
  color: #fff;
  padding: 1rem;
  border: 1px solid #ec5242;
}

article#featured-speakers h2 {
  margin: 0;
  padding: 2rem 1rem 0;
  font-size: 1rem;
}

div.grid-speakers {
  display: grid;
  grid-template-columns: 30% auto;
  font-size: 0.5rem;
  align-items: center;
}

section#featured-speakers-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.flex-speakers {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.main-program-div {
  display: grid;
  grid-template-columns: 15% 25% auto;
  align-items: center;
  background-color: #ffffff21;
}

a#more-program-desktop {
  display: none;
}

button#more-program-mobile {
  padding: 1rem;
  background-color: var(--red);
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  border: 1px solid var(--red);
  margin-bottom: 2rem;
}

.speaker-section-div {
  display: grid;
  grid-template-columns: 30% auto;
  gap: 1rem;
}

.speaker-img {
  background-image: url("../images/speakers/damier.jpg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: left;
  padding: 5rem 0 0 1rem;
}

.speaker-details {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section.speaker-section {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

button#more-speakers {
  border: 1px solid #00000024;
  width: 75%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.speaker-section-div:nth-child(n+3) {
  display: none;
}
